{% extends 'lists.html' %}
{% block heading %} 
    <div>
        <a href="/read_buckets" class="text-muted">MY BUCKETS</a>
        <a class="text-muted"> - {{ session['current_bucket_title'] }}</a>
    </div>    
    <a href="{{ url_for('create_item') }}" class="btn text-muted">Add item</a>                
{% endblock %}
{% block list %}
    {% block form %}

    {% endblock %}
    {% if items %}
        {% for name, item in items.items() %}
            {% if item.status=="Done" %}
                <div class="list-group-item list-group-item-success list-group-item-action flex-column align-items-start">
            {% else %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
            {% endif %}
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{ name }}</h6>
                    <div>
                        <a href="{{ url_for('update_item',description=name) }}" class="text-muted"><span class="fa fa-pencil-square-o"></span></a>
                        <a href="{{ url_for('delete_item',description=name) }}" class="text-muted"><span class="fa fa-trash"></span></a>
                    </div>
                </div>
                <small>Status: {{ item.status }}</small>
            </div>
        {% endfor %}
    {% else %}
        <div class="list-group-item">Add Items. They will be displayed here.</div>
    {% endif %} 
{% endblock %}   